

            .whole {
              width: 100%;
              height: 1000px;
              left: 0;
              top: 0;
              margin-top: -8px;
              margin-left: -8px;

              background-color: #252525;
              wi
            }
            @font-face {
              font-family: pfont;
              src: url(fonts/bestpfont.ttf);
            }
            @font-face {
              font-family: h2font;
              src: url(fonts/mybest.ttf);
            }
            @font-face {
              font-family: h1font;
              src: url(fonts/moststylic.ttf);
            }
            @font-face {
        font-family: nav-font;
        src: url(fonts/navsfont.ttf);
      }
            .fir-img{

            }
            .last-img{
              margin-top: 270px;
            }
            h1 {
              font-family: h2font;
              color: rgb(0, 97, 254);
              font-size: 70px;
              margin-top: -50px;
              margin-left: 100px;
            }
            .container {
              position: absolute;
              display: flex;
              top: 60%;
              left: 35%;

            }
            .container a {
              color: aliceblue;
              text-decoration: none;
              color: rgb(189, 255, 252);
              font-size: 26px;
              font-family: nav-font;
              letter-spacing: 0.5px;
              padding: 20px;
              cursor: pointer;
            }
            .container a:hover {
              color: blue;
              transform: skew(25deg, 5deg);
              transform: scale(0.9);
            }
