 body {
        background-image: linear-gradient(to left, #32373f, #131920);
      }
      .fir-page {
        width: 110%;
        height: 830px;
        top: 0;
        position: relative;
        margin-top: -47px;
        margin-left: -8px;
      }
      .logo1 {
        color: rgb(106, 141, 171);
        font-family: logo-font;
        font-size: 65px;
      }
      .container {
        position: absolute;
        display: flex;
        margin-top: -810px;
        margin-left: 68%;
      }
      .container a {
        color: aliceblue;
        text-decoration: none;
        color: rgb(189, 255, 252);
        font-size: 21px;
        font-family: nav-font;
        letter-spacing: 0.5px;
        padding: 20px;
        cursor: pointer;
      }
      .container a:hover {
        color: blue;
        transform: skew(25deg, 5deg);
        transform: scale(0.9);
      }
      .hs {
        position: ;
        text-align: center;
        margin-top: 100px;
        margin-left: -140px;
      }

      .pfp {
        height: 400px;
        width: 400px;
        position: absolute;
        border-radius: 100%;
        margin-left: 160px;
        margin-top: -250px;
        z-index: 3;
      }
      @font-face {
        font-family: logo-font;
        src: url(Resources/fonts/logo_font.ttf);
      }
      @font-face {
        font-family: h1font;
        src: url(Resources/fonts/moststylic.ttf);
      }
      @font-face {
        font-family: h2font;
        src: url(Resources/fonts/mybest.ttf);
      }
      @font-face {
        font-family: pfont;
        src: url(Resources/fonts/bestpfont.ttf);
      }
      @font-face {
        font-family: nav-font;
        src: url(Resources/fonts/navsfont.ttf);
      }

      @font-face {
        font-family: logo-font;
        src: url("Resources/fonts/logo_font.ttf");
      }
      .h22 {
        color: rgb(0, 136, 255);
        font-family: h1font;
        font-size: 40px;
        position: relative;
        margin-left: -265px;
        margin-top: 30px;
      }
      .h11 {
        color: rgb(0, 97, 254);
        font-family: h2font;
        font-size: 60px;
        margin-top: -40px;
        margin-left: 50px;
      }
      .txts {
        color: rgb(189, 255, 252);
        margin-left: 590px;
        margin-top: -70px;
      }
      .txts p {
        font-family: h2font;
        font-size: 25px;
      }
      .sec-page {
        position: relative;
        height: fit-content;
        width: 120%;
        right: -50px;
        margin-top: -40px;
        margin-left: -60px;
      }
      .sec-header {
        width: 410px;
        height: 100px;
        background-color: rgb(52, 47, 47);
        margin-left: 30%;
        border-radius: 100px;
        border-color: rgb(127, 142, 142);
        border-top: 20px;
        border-width: 40px;
      }
      .h111 {
        font-size: 60px;
        position: relative;
        font-family: h2font;
        color: rgb(0, 97, 254);
        margin-left: 93px;
        margin-top: -19px;
      }
      .sec-txts {
        position: relative;
        margin-left: 170px;
        margin-top: 220px;
        color: rgb(189, 255, 252);
      }
      .sec-txts h2 {
        color: rgb(0, 97, 254);
        font-family: h2font;
        font-size: 50px;
        margin-top: -70px;
      }
      .sec-txts p {
        font-family: h2font;
        font-size: 25px;
        margin-top: -50px;
      }
      .sec-imagee {
        height: 600px;
        margin-left: 790px;
        border-radius: 100%;
        margin-top: -439px;
      }
      .thr-elmnt {
        position: relative;
        width: 1780px;
        height: 600px;
        margin-top: 0px;
        margin-left: -50px;
      }
      .thr-elmnt h2 {
        position: absolute;
        font-size: 50px;
        font-family: h2font;
        color: rgb(0, 97, 254);
        margin-top: -75px;
      }

      .thr-elmnt img {
        position: ;
        height: 580px;
        width: 580px;
        margin-top: 0px;
        margin-left: 100px;
      }

      .thr-txt {
        margin-top: -490px;
        margin-left: 750px;
        color: rgb(189, 255, 252);
      }
      .thr-txt p {
        font-family: h2font;
        font-size: 25px;
        margin-top: 90px;
      }
      .for-elmnt {
        width: 104%;
        height: 750px;
        margin: -150px 0 0 -8px;
      }
      .for-txt {
        position: absolute;
        margin-top: 150px;
        margin-left: 150px;
        color: rgb(189, 255, 252);
      }
      .for-img {
        height: 640px;
        margin-left: 530px;
        margin-top: -450px;
      }
      .for-txt h2 {
        font-size: 50px;
        font-family: h2font;
        color: rgb(0, 97, 254);
        margin-top: 100px;
      }
      .for-txt p {
        font-family: h2font;
        font-size: 25px;
        margin-top: -50px;
      }
      .fif-page {
        width: 104%;
        height: 600px;
        margin-left: -10px;
        margin-top: 0px;
      }
      .fif-txt {
        position: absolute;
        margin-left: 700px;
        margin-top: 0px;
      }
      .fif-img {
        height: 630px;
        margin-top: 0px;
        margin-left: 30px;
      }

      .fif-txt h2 {
        font-size: 55px;
        font-family: h2font;
        color: rgb(0, 97, 254);
        margin-top: 100px;
      }
      .fif-txt p {
        font-family: h2font;
        font-size: 25px;
        margin-top: -60px;
        color: rgb(189, 255, 252);
      }

      .closing {
        width: 104%;
        height: 603px;
        margin-left: -10px;
        margin-top: -100px;
      }
      .last-header {
        width: 410px;
        height: 130px;
        background-color: rgb(52, 47, 47);
        margin-left: 37%;
        border-radius: 100px;
        border-color: rgb(127, 142, 142);
        border-top: 20px;
        border-width: 40px;
        position: absolute;
        margin-top: 100px;
      }
      .closing h2 {
        padding: 28px;

        font-size: 63px;
        font-family: h2font;
        color: rgb(0, 97, 254);
        margin-top: -30px;
      }
      .last-p {
        font-size: 23px;
        font-family: h2font;
        color: rgb(189, 255, 252);
        position: absolute;
        margin-top: 235px;
        margin-left: 380px;
      }
      .last-pp {
        font-size: 23px;
        font-family: h2font;
        color: rgb(189, 255, 252);
        position: absolute;
        margin-top: 275px;
        margin-left: 440px;
      }
      .footer {
        width: 100%;
        height: 900px;
      }
      .foot-elemnts {
        position: absolute;
        margin-left: 600px;
        margin-top: 470px;
      }
      .foot-elemnts img {
        padding: 7px;
        height: 50px;
      }
      .foot-elemnts img:hover {
        transform: scale(1.09);
        color: transparent;
      }
      .icon3 {
        border-radius: 100%;
      }
      .last-wave {
        position: absolute;
        margin-top: -20px;
      }
      .clos-ps {
        position: absolute;
        height: 100px;
        width: 340px;
        margin-top: 10px;
        margin-left: 640px;
        background-color: transparent;
        z-index: 2;
      }
      .clos-p {
        color: rgb(199, 203, 207);
        padding-top: 40px;
        font-size: 16px;
        position: absolute;
        margin-top: 523px;
        margin-left: 10px;
      }
